/*  *{ 
    padding: 0px;
    margin: 0px;
     background-color: aqua; 
} */



input[type=text],input[type=number],input[type=password],select{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}

input[type=submit] {
    padding: 15px 25px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3CBC8D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
