<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class='cust'>
        <form action="" method="post">
            <label for="cust_name">name:</label> <br>
            <input type="text" name="cust_name" id="cust_name" required> <br>
            <label for="mob">mobile number:</label>  <br>
            <input type="text" name="mobile" id="mob" required> <br>
            <label for="tb_no">table no.:</label> <br>
            <input type="number" name="tb_no" id="tb_no"> <br> <br>
            <input type="submit" name="cust_submit" id="btn"> <br>
        </form>
    </div>
</body>
</html>